.Boton {
    padding: 10px 30px;
    background: rgba(135, 218, 244, 0.67);
    border: 1px solid #15BEF3;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}