.Opciones {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: roboto;
    height: 100vh;
}

.div1 {
    float: left;
    margin: 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    font-size: 48px;
    font-weight: normal;
}

.div2 {
    width: 600px;
    height: 185px;
    background: #ffffff;
    color: #000000;
    top: 25%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 5px 5px;
    margin: 0;
}

.circulo {
    width: 126px;
    height: 119px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #c4c4c4;
    margin: 0 auto;
}

.div4 {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.54);
}

.div5 {
    float: right;
    width: 300px;
    height: 50px;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 87%;
    position: absolute;
}

.div6 {
    border-style: solid;
    border-color: rgba(193, 245, 185, 0.65);
    width: 90%;
    height: 45%;
    top: 63%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 5px 5px;
    margin: 0;
}

.div7 {
    top: 90%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin: 0;
    color: #099ff3;
    padding: 5px;
    text-align: center;
    font-size: 18px;
}

.div8 {
    float: right;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 90%;
    position: absolute;
    text-align: right;
    color: #099ff3;
    font-size: 18px;
}